Node-RED/BLE MQTT Gateway
[{"id":"a9558149.39c79","type":"tab","label":"MQTTGateway","disabled":false,"info":""},{"id":"93a0cad7.9fc1b","type":"mqtt in","z":"a9558149.39c79","name":"MQTT MiFlora Buiten","topic":"home/OpenMQTTGateway_ESP32_OLM_GTWE/BTtoMQTT/C47C8D65C228","qos":"0","datatype":"json","broker":"4d2ff189.666908","nl":false,"rap":false,"x":280,"y":160,"wires":[["8d63f147.03df78"]]},{"id":"8d63f147.03df78","type":"function","z":"a9558149.39c79","name":"","func":"var msg1 = {};\nvar msg2 = {};\n\nswitch (true) {\n\n    case msg.payload.hasOwnProperty (\"tempc\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":316,\"nvalue\":0,\"svalue\": msg.payload.tempc.toString()};\n        break;\n        \n    case msg.payload.hasOwnProperty (\"moi\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":317,\"nvalue\": msg.payload.moi,\"svalue\": \"0\"};\n        break;\n        \n    case msg.payload.hasOwnProperty (\"lux\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":318,\"nvalue\":0,\"svalue\": msg.payload.lux.toString()};\n        break;\n        \n    case msg.payload.hasOwnProperty (\"fer\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":319,\"nvalue\":0,\"svalue\": msg.payload.fer.toString()};\n        break;    \n}\n\nmsg2.payload = {\"command\":\"udevice\",\"idx\":320,\"nvalue\":0,\"svalue\": msg.payload.rssi.toString()};\n\nreturn [[msg1,msg2]]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":160,"wires":[["7ee0ad99.9bd0b4","28ec172b.76b3b"]]},{"id":"7ee0ad99.9bd0b4","type":"debug","z":"a9558149.39c79","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":220,"wires":[]},{"id":"28ec172b.76b3b","type":"mqtt out","z":"a9558149.39c79","name":"MQTT to Domoticz","topic":"domoticz/in","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":970,"y":320,"wires":[]},{"id":"8aa8629b.69707","type":"mqtt in","z":"a9558149.39c79","name":"MQTT MiFlora Binnen","topic":"home/OpenMQTTGateway_ESP32_OLM_GTWE/BTtoMQTT/C47C8D65BE1F","qos":"0","datatype":"json","broker":"4d2ff189.666908","nl":false,"rap":false,"x":280,"y":300,"wires":[["9b88518e.ee03e"]]},{"id":"9b88518e.ee03e","type":"function","z":"a9558149.39c79","name":"","func":"var msg1 = {};\nvar msg2 = {};\n\nswitch (true) {\n\n    case msg.payload.hasOwnProperty (\"tempc\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":321,\"nvalue\":0,\"svalue\": msg.payload.tempc.toString()};\n        break;\n        \n    case msg.payload.hasOwnProperty (\"moi\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":322,\"nvalue\": msg.payload.moi,\"svalue\": \"0\"};\n        break;\n        \n    case msg.payload.hasOwnProperty (\"lux\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":323,\"nvalue\":0,\"svalue\": msg.payload.lux.toString()};\n        break;\n        \n    case msg.payload.hasOwnProperty (\"fer\"):\n        msg1.payload = {\"command\":\"udevice\",\"idx\":324,\"nvalue\":0,\"svalue\": msg.payload.fer.toString()};\n        break;    \n}\n\nmsg2.payload = {\"command\":\"udevice\",\"idx\":325,\"nvalue\":0,\"svalue\": msg.payload.rssi.toString()};\n\nreturn [[msg1,msg2]]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":300,"wires":[["28ec172b.76b3b","ac3222f5.b973"]]},{"id":"ac3222f5.b973","type":"debug","z":"a9558149.39c79","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":520,"y":360,"wires":[]},{"id":"d94b63c6.65905","type":"mqtt in","z":"a9558149.39c79","name":"MQTT Kamertemperatuur","topic":"home/OpenMQTTGateway_ESP32_OLM_GTWE/BTtoMQTT/A4C138D5E9F7","qos":"0","datatype":"json","broker":"4d2ff189.666908","nl":false,"rap":false,"x":290,"y":440,"wires":[["15f935f7.48225a"]]},{"id":"6db6bb6a.c3b75c","type":"function","z":"a9558149.39c79","name":"","func":"var idx_no = 412\nvar temp = msg.payload.tempc;\n\nmsg.payload = `{\\n \"command\":\"udevice\",\"idx\" : ${idx_no}, \"svalue\" : \"${temp}\"\\n}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":420,"wires":[["28ec172b.76b3b","82dd3efc.3847e"]]},{"id":"82dd3efc.3847e","type":"debug","z":"a9558149.39c79","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":640,"y":540,"wires":[]},{"id":"15f935f7.48225a","type":"switch","z":"a9558149.39c79","name":"","property":"msg.payload.tempc","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":440,"wires":[["6db6bb6a.c3b75c"]]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
