Node-RED/Flightradar
[{"id":"789216b1.dd5c28","type":"tab","label":"Flightradar","disabled":false,"info":""},{"id":"38d4c280cd4916ba","type":"debug","z":"789216b1.dd5c28","name":"flightradar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":120,"wires":[]},{"id":"f5e464e121cea0de","type":"inject","z":"789216b1.dd5c28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["23de193963d99818"]]},{"id":"88a44a330e950a75","type":"function","z":"789216b1.dd5c28","name":"vliegtuigen die overvliegen","func":"//var d = msg.payload.timestamp;\n\nvar d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\n\nvar vluchtnummer = msg.payload.flight;\nvar maatschapij = msg.payload.name;\nvar van = msg.payload.origin;\nvar naar = msg.payload.destination;\nvar snelheid = msg.payload.speed;\nvar hoogte = msg.payload.altitude;\nvar richting = msg.payload.bearing;\nif (m<=9)\nm=\"0\"+m;\nreturn {\n payload: h + \":\" + m + \" Vlucht \" + vluchtnummer + \" van\" + \" \"+maatschapij+\" van \"+\n van+\" naar \"+naar+ \" vliegt op een hoogte van \" +hoogte+ \" voet met een snelheid van \"+snelheid+\" knopen richting \" +richting+  \" over Huizen\",\n \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":360,"wires":[["b93353af2339efd5"]]},{"id":"79483ec1fe5cd52f","type":"debug","z":"789216b1.dd5c28","name":"flightradar na geofence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"b93353af2339efd5","type":"debug","z":"789216b1.dd5c28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":340,"wires":[]},{"id":"7e36711f98acbf8b","type":"debug","z":"789216b1.dd5c28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":560,"wires":[]},{"id":"94f1514d4ff2bc2a","type":"http request","z":"789216b1.dd5c28","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":450,"y":540,"wires":[["53d6f21cedde6582"]]},{"id":"180296546b8a1bdb","type":"function","z":"789216b1.dd5c28","name":"Origin COUNTRY","func":"//Change your country (First Letter Capital)\nvar country = msg.payload.origin;\n\n\nmsg.url = \"https://aviation-reference-data.p.rapidapi.com/airports/\" + country;\nmsg.payload = \"\"\nmsg.headers = {};\nmsg.headers['x-rapidapi-host'] = 'aviation-reference-data.p.rapidapi.com';\nmsg.headers['x-rapidapi-key'] = 'b10961bb08msh898cd58aca127c4p12a024jsn6e62a250f270';\nreturn msg;\n\n// Register to rapidapi.com\n//Get key and write here\n//Change country and go.","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":540,"wires":[["94f1514d4ff2bc2a"]]},{"id":"53d6f21cedde6582","type":"json","z":"789216b1.dd5c28","name":"Origin","property":"payload","action":"","pretty":true,"x":610,"y":540,"wires":[["7e36711f98acbf8b","73ebfe468691d83a"]],"outputLabels":["1"]},{"id":"318f4e44eab5fafc","type":"debug","z":"789216b1.dd5c28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":620,"wires":[]},{"id":"3f806e9002ee7961","type":"http request","z":"789216b1.dd5c28","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":450,"y":600,"wires":[["cc47b05e88c024f0"]]},{"id":"02f0359c40b5550b","type":"function","z":"789216b1.dd5c28","name":"Destination COUNTRY","func":"//Change your country (First Letter Capital)\nvar country = msg.payload.destination;\n\n\nmsg.url = \"https://aviation-reference-data.p.rapidapi.com/airports/\" + country;\nmsg.payload = \"\"\nmsg.headers = {};\nmsg.headers['x-rapidapi-host'] = 'aviation-reference-data.p.rapidapi.com';\nmsg.headers['x-rapidapi-key'] = 'b10961bb08msh898cd58aca127c4p12a024jsn6e62a250f270';\nreturn msg;\n\n// Register to rapidapi.com\n//Get key and write here\n//Change country and go.","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":600,"wires":[["3f806e9002ee7961"]]},{"id":"cc47b05e88c024f0","type":"json","z":"789216b1.dd5c28","name":"Destination","property":"payload","action":"","pretty":true,"x":630,"y":600,"wires":[["318f4e44eab5fafc","3482d505ea6b307b"]]},{"id":"e0c0174b695611ee","type":"debug","z":"789216b1.dd5c28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":680,"wires":[]},{"id":"eecef5a3227ea250","type":"http request","z":"789216b1.dd5c28","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":450,"y":660,"wires":[["a4511720e9f8c712"]]},{"id":"3f3c3b9c741d3d31","type":"function","z":"789216b1.dd5c28","name":"Airline","func":"//Change your country (First Letter Capital)\nvar country = msg.payload.callsign;\n\n\nmsg.url = \"https://aviation-reference-data.p.rapidapi.com/airline/\" + String(country).substr(0,3);\nmsg.payload = \"\"\nmsg.headers = {};\nmsg.headers['x-rapidapi-host'] = 'aviation-reference-data.p.rapidapi.com';\nmsg.headers['x-rapidapi-key'] = 'b10961bb08msh898cd58aca127c4p12a024jsn6e62a250f270';\nreturn msg;\n\n// Register to rapidapi.com\n//Get key and write here\n//Change country and go.","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":660,"wires":[["eecef5a3227ea250"]]},{"id":"a4511720e9f8c712","type":"json","z":"789216b1.dd5c28","name":"Airline","property":"payload","action":"","pretty":true,"x":610,"y":660,"wires":[["e0c0174b695611ee","1ea359904299a7b3"]]},{"id":"e7becc832e9c9758","type":"comment","z":"789216b1.dd5c28","name":"API lookup","info":"","x":460,"y":480,"wires":[]},{"id":"73ebfe468691d83a","type":"change","z":"789216b1.dd5c28","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.origin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["d5fe8f2c038450bc"]]},{"id":"d5fe8f2c038450bc","type":"join","z":"789216b1.dd5c28","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":420,"wires":[["a6371352.d9c1c"]]},{"id":"1ea359904299a7b3","type":"change","z":"789216b1.dd5c28","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.airline","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["d5fe8f2c038450bc"]]},{"id":"3482d505ea6b307b","type":"change","z":"789216b1.dd5c28","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.destination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":600,"wires":[["d5fe8f2c038450bc"]]},{"id":"23de193963d99818","type":"flightradar24","z":"789216b1.dd5c28","lat":"53.115814","latType":"num","lon":"6.877327","lonType":"num","name":"Flightradar","x":350,"y":160,"wires":[["38d4c280cd4916ba","cef15972c6847263"]]},{"id":"cef15972c6847263","type":"geofence","z":"789216b1.dd5c28","name":"","mode":"circle","inside":"true","rad":3895.393523245441,"points":[],"centre":{"latitude":53.10680448323265,"longitude":6.873321533203125},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":200,"y":380,"wires":[["79483ec1fe5cd52f","88a44a330e950a75","180296546b8a1bdb","02f0359c40b5550b","3f3c3b9c741d3d31","d5fe8f2c038450bc"]]},{"id":"97055447.c9db58","type":"mqtt out","z":"789216b1.dd5c28","name":"Domoticz In","topic":"domoticz/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1390,"y":240,"wires":[]},{"id":"a6371352.d9c1c","type":"function","z":"789216b1.dd5c28","name":"vliegtuigen die overvliegen","func":"//var d = msg.payload.timestamp;\n\nvar d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\n\nvar vluchtnummer = msg.payload.flight;\nvar maatschapij = msg.payload.airline.name;\nvar van = msg.payload.origin.name;\nvar vanland = msg.payload.origin.alpha2countryCode;\nvar naar = msg.payload.destination.name;\nvar naarland = msg.payload.destination.alpha2countryCode;\nvar snelheid = msg.payload.speed;\nvar hoogte = msg.payload.altitude;\nvar richting = msg.payload.bearing;\nif (m<=9)\nm=\"0\"+m;\n\nal_txt = h + \":\" + m + \" Vlucht \" + vluchtnummer + \" van\" +\n \" \"+maatschapij+\" van \"+ van+ \" (\" + vanland +\") naar \"+naar+ \n \" (\" + naarland +\") vliegt op een hoogte van \" +hoogte+ \n \" voet met een snelheid van \"+snelheid+\n \" knopen richting \" +richting+  \" over Veendam\";\n\nmsg.payload = { \"command\": \"udevice\", \"idx\": 415, \"nvalue\": 0, \"svalue\": al_txt };\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":160,"wires":[["97055447.c9db58","babe6af8.561938"]]},{"id":"babe6af8.561938","type":"debug","z":"789216b1.dd5c28","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1220,"y":280,"wires":[]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
