Node-RED/Heishamon S0
[{"id":"bf094556.58f788","type":"tab","label":"Heishamon S0 Ygor ]","disabled":false,"info":""},{"id":"57ceef01.7f5fc","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watt/1","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":190,"y":60,"wires":[["cba75e5.9514aa"]]},{"id":"cba75e5.9514aa","type":"function","z":"bf094556.58f788","name":"IDX adder","func":"\nvar idx_no = 294\nvar watthour = Number(flow.get(\"watthour1\"));\nwatthour = isNaN(watthour) ? 0 : watthour;\nvar watt = Number(msg.payload); \n\nmsg.payload = `{\\n \"idx\" : ${idx_no}, \"nvalue\" : 0, \"svalue\" : \"${watt};${watthour}\"\\n}`;\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":40,"wires":[["2ee7bdcf.378bf2","e8505ee.2c068a"]]},{"id":"1d89e171.11feff","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watthour/1","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":170,"y":160,"wires":[["3f5c405c.933ff"]]},{"id":"2ee7bdcf.378bf2","type":"debug","z":"bf094556.58f788","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"e9800370.82ef8","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watt/2","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":150,"y":340,"wires":[["afea8578.8d82e8"]]},{"id":"e8505ee.2c068a","type":"mqtt out","z":"bf094556.58f788","name":"","topic":"domoticz/in","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1130,"y":340,"wires":[]},{"id":"afea8578.8d82e8","type":"function","z":"bf094556.58f788","name":"IDX adder","func":"\nvar idx_no = 295\nvar watthour = Number(flow.get(\"watthour2\"));\nwatthour = isNaN(watthour) ? 0 : watthour;\nvar watt = Number(msg.payload); \n\nmsg.payload = `{\\n \"idx\" : ${idx_no}, \"nvalue\" : 0, \"svalue\" : \"${watt};${watthour}\"\\n}`;\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":340,"wires":[["af2b7c48.da65c","e8505ee.2c068a"]]},{"id":"69afb192.17138","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watthour/2","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":170,"y":460,"wires":[["12d74bec.3b0d44"]]},{"id":"af2b7c48.da65c","type":"debug","z":"bf094556.58f788","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":720,"y":380,"wires":[]},{"id":"3f5c405c.933ff","type":"change","z":"bf094556.58f788","name":"Set flow variable watthour1","rules":[{"t":"set","p":"watthour1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[[]]},{"id":"12d74bec.3b0d44","type":"change","z":"bf094556.58f788","name":"Set flow variable watthour2","rules":[{"t":"set","p":"watthour2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[[]]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
