Node-RED/Heishamon
[{"id":"91eec78763cf18a9","type":"tab","label":"HeishaMon","disabled":false,"info":""},{"id":"a9359e803b30b6e8","type":"mqtt in","z":"91eec78763cf18a9","name":"MQTT HeishaSensor","topic":"panasonic_heat_pump/#","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":200,"y":300,"wires":[["a6adcf20ab622776"]]},{"id":"a6adcf20ab622776","type":"function","z":"91eec78763cf18a9","name":"Map sensor to ID","func":"// if there's an entry in the global defined variable then \n// the value needs to be saved (send) to next function \nvar sensorsplit = msg.topic.split(\"/\");\nvar sensor = sensorsplit[sensorsplit.length-1];\n \nvar sensorvalue = msg.payload;\nfor (i = 0; i < context.global.heishamon.SensorMapping.length; i++) {\n    // when sensor is in the global settings \n    msg.sensor = sensor;\n    if(sensor == context.global.heishamon.SensorMapping[i][0]){\n//        node.warn(context.global.heishamon.SensorMapping[i]);\n        // add the home automation ID/name \n        msg.HAid = context.global.heishamon.SensorMapping[i][1];\n\n        // add type (if it exists):\n        if(context.global.heishamon.SensorMapping[i][2]){\n            msg.type = context.global.heishamon.SensorMapping[i][2];\n        }    \n        return msg;\n    }\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":300,"wires":[["9fb1fbc1e6734569"]]},{"id":"750cb12169c49a92","type":"function","z":"91eec78763cf18a9","name":"global setup","func":"if (!context.global.heishamon) {\n  context.global.heishamon = {};\n}\n\n// write down the Home Automation applications used\n// Possible values: Domoticz, InfluxDB, openHAB, HomeAssistant\n// comma seperated and case sensitive\ncontext.global.heishamon.HAapplication = \"Domoticz, InfluxDB\";\n\n\n//This is the overview of sensors which has to be sent to the Home Automation system\ncontext.global.heishamon.SensorMapping = [\n        // [\"name of topic\", \"IDx in Domoticz/Name in Home Assistant/ ?? openHAB ??\"]\n            [\"Heatpump_State\", 170, \"Switch\"],\n            [\"Pump_Flow\", 42],\n            [\"Force_DHW_State\", 172, \"Switch\"], //DHW status (20=off, 10=on 0=unknown)\n        //    [\"Quiet_Mode_Schedule\", null, \"Switch\"],\n            [\"Operating_Mode_State\", 171, \"Selector Switch\"], //7 levels - (0=Heat only, 10=Cool only, 20=Auto, 30=DHW only, 40=Heat+DHW, 50=Cool+DHW, 60=Auto+DHW)\n            [\"Main_Inlet_Temp\", null],\n            [\"Main_Outlet_Temp\", null], \n            [\"Main_Target_Temp\", null],\n            [\"Compressor_Freq\", 214],\n            [\"DHW_Target_Temp\", 173],\n            [\"DHW_Temp\", 80],\n            [\"Operations_Hours\", 82],\n            [\"Operations_Counter\", 81],\n        //    [\"Main_Schedule_State\", null, \"Switch\"],\n            [\"Outside_Temp\", 208],\n            [\"Heat_Energy_Production\", 33],\n            [\"Heat_Energy_Consumption\", 34],\n            [\"Powerful_Mode_Time\", 526, \"Selector Switch\"], //  4 levels -- 0= off - 10= 30 Minute - 20= 60 Minute - 30= 90 Minute //0= off, 30 = level 3\n        //    [\"Quiet_Mode_Level\", 6030, \"Selector Switch\"], // 4 levels -- 0= off - 10= Silent 1 - 20= Silent 2 - 30= Silent 3\n        //    [\"Holiday_Mode_State\", null, \"Switch\"],\n            [\"ThreeWay_Valve_State\", 313, \"Selector Switch\"], // 2 levels -- 0=Room, 10=DHW\n            [\"Outside_Pipe_Temp\", 312],\n        //    [\"DHW_Heat_Delta\", null],\n        //    [\"Heat_Delta\", null],\n        //    [\"Cool_Delta\", null],\n        //    [\"DHW_Holiday_Shift_Temp\", null],\n        //    [\"Defrosting_State\", null, \"Switch\"],\n            [\"Z1_Heat_Request_Temp\", 174, \"Thermostat\"],\n        //    [\"Z1_Cool_Request_Temp\", null],\n        //    [\"Z1_Heat_Curve_Target_High_Temp\", null],\n        //    [\"Z1_Heat_Curve_Target_Low_Temp\", null],\n        //    [\"Z1_Heat_Curve_Outside_High_Temp\", null],\n        //    [\"Z1_Heat_Curve_Outside_Low_Temp\", null],\n        //    [\"Room_Thermostat_Temp\", null],\n        //    [\"Z2_Heat_Request_Temp\", null],\n        //    [\"Z2_Cool_Request_Temp\", null],\n        //    [\"Z1_Water_Temp\", null],\n        //    [\"Z2_Water_Temp\", null],\n        //    [\"Cool_Energy_Production\", null],\n        //    [\"Cool_Energy_Consumption\", null],\n            [\"DHW_Energy_Production\", 32],\n            [\"DHW_Energy_Consumption\", 31],\n        //    [\"Z1_Water_Target_Temp\", null],\n        //    [\"Z2_Water_Target_Temp\", null],\n        //    [\"Error\", null],\n        //    [\"Room_Holiday_Shift_Temp\", null],\n        //    [\"Buffer_Temp\", null],\n            [\"Solar_Temp\", 79],\n        //    [\"Pool_Temp\", null],\n            [\"Main_Hex_Outlet_Temp\", null],\n        //    [\"Discharge_Temp\", null],\n        //    [\"Inside_Pipe_Temp\", null],\n        //    [\"Defrost_Temp\", null],\n            [\"Eva_Outlet_Temp\", null],\n            [\"Bypass_Outlet_Temp\", null],\n            [\"Ipm_Temp\", null],\n        //    [\"Z1_Temp\", null],\n        //    [\"Z2_Temp\", null],\n        //    [\"DHW_Heater_State\", null],\n        //    [\"Room_Heater_State\", null],\n        //    [\"Internal_Heater_State\", null],\n        //    [\"External_Heater_State\", null],\n        //    [\"Fan1_Motor_Speed\", null],\n        //    [\"Fan2_Motor_Speed\", null],\n        //    [\"High_Pressure\", null],\n        //    [\"Pump_Speed\", null],\n        //    [\"Low_Pressure\", null],\n        //    [\"Compressor_Current\", null],\n        //    [\"Force_Heater_State\", null, \"Switch\"],\n        //    [\"Sterilization_State\", null, \"Switch\"],\n        //    [\"Sterilization_Temp\", null],\n        //    [\"Sterilization_Max_Time\", null],\n        //    [\"Z1_Cool_Curve_Target_High_Temp\", null],\n        //    [\"Z1_Cool_Curve_Target_Low_Temp\", null],\n        //    [\"Z1_Cool_Curve_Outside_High_Temp\", null],\n        //    [\"Z1_Cool_Curve_Outside_Low_Temp\", null],\n        //    [\"Heating_Mode\", null],\n        //    [\"Heating_Off_Outdoor_Temp\", null],\n        //    [\"Heater_On_Outdoor_Temp\", null],\n        //    [\"Heat_To_Cool_Temp\", null],\n        //    [\"Cool_To_Heat_Temp\", null],\n        //    [\"Cooling_Mode\", null],\n        //    [\"Heat_To_Cool_Temp\", null],\n        //    [\"Z2_Heat_Curve_Target_High_Temp\", null],\n        //    [\"Z2_Heat_Curve_Target_Low_Temp\", null],\n        //    [\"Z2_Heat_Curve_Outside_High_Temp\", null],\n        //    [\"Z2_Heat_Curve_Outside_Low_Temp\", null],\n        //    [\"Z2_Cool_Curve_Target_High_Temp\", null],\n        //    [\"Z2_Cool_Curve_Target_Low_Temp\", null],\n        //    [\"Z2_Cool_Curve_Outside_High_Temp\", null],\n        //    [\"Z2_Cool_Curve_Outside_Low_Temp\", null],\n        //    [\"Room_Heater_Operations_Hours\", null],\n        //    [\"DHW_Heater_Operations_Hours\", null]\n    ];\n    \ncontext.global.heishamon.ActionMapping = [\n    // actioncommand, type, \"IDx in Domoticz/Name in Home Assistant/ ?? openHAB ??\" \n    [\"SetHeatpump\", \"Switch\", 170],\n //   [\"SetHoliday\", \"Switch\", null],\n //   [\"SetQuietMode\", \"Selector Switch\", null],\n    [\"SetPowerfull\", \"Selector Switch\", 526],\n    [\"SetZ1HeatRequestTemperature\", \"Thermostat\", 174],\n //   [\"SetZ1CoolRequestTemperature\", \"Thermostat\", null],\n //   [\"SetZ2HeatRequestTemperature\", \"Thermostat\", null],\n //   [\"SetZ2CoolRequestTemperature\", \"Thermostat\", null],\n    [\"SetOperationMode\", \"Selector Switch\", 171],\n    [\"SetForceDHW\", \"Switch\", 172],\n    [\"SetDHWTemp\", \"Thermostat\", 173],\n //   [\"SetCoolTemp\", \"Thermostat\", null],\n //  [\"SetForceDefrost\", \"Switch\", null],\n //   [\"SetForceSterilization\", \"Switch\", null]\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":120,"wires":[[]]},{"id":"5faed56eba6637c4","type":"inject","z":"91eec78763cf18a9","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"Startup","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Startup","payload":"","payloadType":"date","x":210,"y":120,"wires":[["750cb12169c49a92"]]},{"id":"9fb1fbc1e6734569","type":"switch","z":"91eec78763cf18a9","name":"Which HA app ","property":"heishamon.HAapplication","propertyType":"global","rules":[{"t":"cont","v":"Domoticz","vt":"str"},{"t":"cont","v":"HomeAssistant","vt":"str"},{"t":"cont","v":"openHAB","vt":"str"},{"t":"cont","v":"InfluxDB","vt":"str"}],"checkall":"true","repair":true,"outputs":4,"x":770,"y":300,"wires":[["917a14ebd34888a5"],["f60cbc33db404abf"],["c838db48a0e52cdf"],["f8157969c27aa752"]]},{"id":"917a14ebd34888a5","type":"function","z":"91eec78763cf18a9","name":"Prepare Domoticz output","func":"if(msg.HAid !== null){\n    msg1 = {};\n    msg1.payload = {};\n    msg1.payload.idx = msg.HAid; \n    msg1.topic = \"domoticz/in\";\n\n    if(msg.type == \"Selector Switch\"){\n        msg1.payload.command = \"switchlight\";\n        msg1.payload.switchcmd = \"Set Level\";\n        msg1.payload.level = msg.payload * 10;\n    }else if(msg.type == \"Switch\"){\n        msg1.payload.command = \"switchlight\"\n        if(msg.payload == 1){ cmd = \"On\"; }else{ cmd=\"Off\"}\n        msg1.payload.switchcmd = cmd;\n    }else{\n        msg1.payload.svalue = msg.payload;\n    }\n    return msg1;\n}\n\nreturn;","outputs":1,"noerr":0,"x":1050,"y":260,"wires":[["bdaf3484d1281aee","1550b3bacb0c5a5a"]]},{"id":"bdaf3484d1281aee","type":"mqtt out","z":"91eec78763cf18a9","name":"MQTT publish","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1360,"y":320,"wires":[]},{"id":"f8157969c27aa752","type":"function","z":"91eec78763cf18a9","name":"Prepare InfluxDB output","func":"if(isNaN(parseFloat(msg.payload))){\n    return;\n}else{\n    \n    msg.payload = [{\n        numValue: parseFloat(msg.payload),\n        strValue: msg.sensor\n    },\n    {\n        tag1:msg.sensor\n    }];\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":540,"wires":[["d5f84ec71d6d7890"]]},{"id":"c838db48a0e52cdf","type":"function","z":"91eec78763cf18a9","d":true,"name":"Prepare openHAB output","func":"if(msg.payload.HAid != null){\n    //do something\n}\n\nreturn;","outputs":1,"noerr":0,"x":1050,"y":420,"wires":[["bdaf3484d1281aee"]]},{"id":"f60cbc33db404abf","type":"function","z":"91eec78763cf18a9","d":true,"name":"Prepare HomeAssistant output","func":"msg1 = {};\nmsg1.payload = msg.payload;\nmsg1.topic = \"home/\" + msg.HAid; // Example: home/Compressor_Freq (or how it is mentioned in global setup)\nreturn msg1;\n","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[["bdaf3484d1281aee","1550b3bacb0c5a5a"]]},{"id":"fa709279cd880328","type":"mqtt in","z":"91eec78763cf18a9","name":"Domoticz Publish","topic":"domoticz/out/#","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":180,"y":660,"wires":[["4e7ceb5a547ae128"]]},{"id":"1e11809bb7b5723c","type":"debug","z":"91eec78763cf18a9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":620,"wires":[]},{"id":"4e7ceb5a547ae128","type":"json","z":"91eec78763cf18a9","name":"","property":"payload","action":"","pretty":false,"x":390,"y":660,"wires":[["c934c28f4394ee12"]]},{"id":"c934c28f4394ee12","type":"function","z":"91eec78763cf18a9","name":"Translate HomeAutomation to Heishamon","func":"//node.warn(msg.payload.idx)\nvar type;\n\nfor (i = 0; i < context.global.heishamon.ActionMapping.length; i++) {\n    if(msg.payload.idx == context.global.heishamon.ActionMapping[i][2]){\n        if(context.global.heishamon.ActionMapping[i][1]){\n            msg.topic = \"panasonic_heat_pump/commands/\" + context.global.heishamon.ActionMapping[i][0];\n            type = context.global.heishamon.ActionMapping[i][1];\n            //node.warn(msg.payload);\n            switch(type){\n                case \"Selector Switch\":\n                    msg.payload = (msg.payload.svalue1 / 10);\n                    return msg;\n                case \"Thermostat\":\n                    msg.payload = parseInt(msg.payload.svalue1);\n                    return msg;\n                case \"Switch\":\n                    msg.payload = msg.payload.nvalue;\n                    return msg;\n            }\n\n        }\n    }\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":660,"wires":[["1e11809bb7b5723c","d0581adb24e04d36"]]},{"id":"d0581adb24e04d36","type":"mqtt out","z":"91eec78763cf18a9","name":"MQTT Publish Set-command","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1320,"y":720,"wires":[]},{"id":"1550b3bacb0c5a5a","type":"debug","z":"91eec78763cf18a9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":420,"wires":[]},{"id":"242191792ec06808","type":"comment","z":"91eec78763cf18a9","name":"Version 02","info":"Only the 'global setup' node needs to be changed (and if you're not running on localhost you need to change those mqtt connection nodes also). ","x":160,"y":60,"wires":[]},{"id":"d5f84ec71d6d7890","type":"influxdb out","z":"91eec78763cf18a9","influxdb":"850570c2.7b4f58","name":"","measurement":"heishamon","precision":"","retentionPolicy":"","database":"DESticz","retentionPolicyV18Flux":"","org":"","bucket":"","x":1370,"y":540,"wires":[]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"850570c2.7b4f58","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"DESticz","name":"Panasonic","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":false}]
