Node-RED/IKEA 2002 schakelaar
[{"id":"b2e96dac.1b9b1","type":"tab","label":"IKEA E2002 Schakelaar","disabled":false,"info":""},{"id":"8a00a9c1.ad6ef8","type":"mqtt in","z":"b2e96dac.1b9b1","name":"Slaapkamer schakelaar","topic":"zigbee2mqtt/Slaapkamer schakelaar","qos":"0","datatype":"json","broker":"4d2ff189.666908","nl":false,"rap":false,"x":140,"y":340,"wires":[["9a7a83d1.231d7","c11dbd4.868c24"]]},{"id":"c11dbd4.868c24","type":"debug","z":"b2e96dac.1b9b1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":400,"y":340,"wires":[]},{"id":"9a7a83d1.231d7","type":"switch","z":"b2e96dac.1b9b1","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_left_release","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_right_hold","vt":"str"},{"t":"eq","v":"arrow_right_release","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":130,"y":460,"wires":[["728268b7.26db68"],["812831d.c0d7dd","ad8c5e89.3beaa"],["9d83bda1.21fc"],["556614b8.4684dc"],["d15bd437.ff4318","ad8c5e89.3beaa"],["ecf7eecc.06cce"],["6e1c1013.f69a9"],[],["2cb00233.6adb8e"],["33613787.3daca8"],[]]},{"id":"728268b7.26db68","type":"function","z":"b2e96dac.1b9b1","name":"on","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 661, \"switchcmd\": \"Set Level\", \"level\": 10 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":400,"wires":[["b486971c.bc54b8"]]},{"id":"2cb00233.6adb8e","type":"function","z":"b2e96dac.1b9b1","name":"arrow_right_click","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 661, \"switchcmd\": \"Set Level\", \"level\": 80 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":540,"wires":[[]]},{"id":"ecf7eecc.06cce","type":"function","z":"b2e96dac.1b9b1","name":"arrow_left_click","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 661, \"switchcmd\": \"Set Level\", \"level\": 50 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":460,"wires":[[]]},{"id":"b486971c.bc54b8","type":"mqtt out","z":"b2e96dac.1b9b1","name":"","topic":"domoticz/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":630,"y":380,"wires":[]},{"id":"556614b8.4684dc","type":"function","z":"b2e96dac.1b9b1","name":"off","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 661, \"switchcmd\": \"Set Level\", \"level\": 0 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["b486971c.bc54b8"]]},{"id":"6e1c1013.f69a9","type":"function","z":"b2e96dac.1b9b1","name":"arrow_left_hold","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 661, \"switchcmd\": \"Set Level\", \"level\": 60 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":500,"wires":[[]]},{"id":"33613787.3daca8","type":"function","z":"b2e96dac.1b9b1","name":"arrow_right_hold","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 661, \"switchcmd\": \"Set Level\", \"level\": 90 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":580,"wires":[[]]},{"id":"b36f89.27de3078","type":"mqtt out","z":"b2e96dac.1b9b1","name":"MQTT","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1190,"y":640,"wires":[]},{"id":"44d7c82f.6df878","type":"delay","z":"b2e96dac.1b9b1","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":740,"wires":[["c76c201e.b39ee"]]},{"id":"c2a17d0d.c94f9","type":"delay","z":"b2e96dac.1b9b1","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":770,"wires":[["190a1581.6d525a"]]},{"id":"812831d.c0d7dd","type":"function","z":"b2e96dac.1b9b1","name":"Brightness up","func":"var currentState = \"Kledingkast_brightness\";\nvar current = flow.get(currentState);\n\nvar brightness = current + 15;\n\nif(brightness > 255 || msg.feeedback == 255){\n    brightness = 255;\n    msg.topic = \"zigbee2mqtt/Kledingkast/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\nif(brightness < 0 || msg.feeedback === 0){\n    brightness = 0;\n    msg.topic = \"zigbee2mqtt/Kledingkast/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\nelse{\n    msg.topic = \"zigbee2mqtt/Kledingkast/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":640,"wires":[["aad54546.ac1218","b36f89.27de3078","9f1c1bb7.46ec78"]]},{"id":"d15bd437.ff4318","type":"function","z":"b2e96dac.1b9b1","name":"Brightness down","func":"var currentState = \"Kledingkast_brightness\";\nvar current = flow.get(currentState);\n\nvar brightness = current - 15;\n\nif(brightness > 255 || msg.feeedback == 255){\n    brightness = 255;\n    msg.topic = \"zigbee2mqtt/Kledingkast/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\nif(brightness < 0|| msg.feeedback === 0){\n    brightness = 0;\n    msg.topic = \"zigbee2mqtt/Kledingkast/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\nelse{\n    msg.topic = \"zigbee2mqtt/Kledingkast/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":680,"wires":[["ce921222.19ff6","b36f89.27de3078","9f1c1bb7.46ec78"]]},{"id":"190a1581.6d525a","type":"switch","z":"b2e96dac.1b9b1","name":"HoldUP","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1065,"y":770,"wires":[["812831d.c0d7dd"]]},{"id":"c76c201e.b39ee","type":"switch","z":"b2e96dac.1b9b1","name":"HoldUP","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1065,"y":740,"wires":[["d15bd437.ff4318"]]},{"id":"ce921222.19ff6","type":"change","z":"b2e96dac.1b9b1","name":"msg.feedback","rules":[{"t":"set","p":"payload","pt":"msg","to":"feedback","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":740,"wires":[["44d7c82f.6df878"]]},{"id":"aad54546.ac1218","type":"change","z":"b2e96dac.1b9b1","name":"msg.feedback","rules":[{"t":"set","p":"payload","pt":"msg","to":"feedback","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":770,"wires":[["c2a17d0d.c94f9"]]},{"id":"ad8c5e89.3beaa","type":"change","z":"b2e96dac.1b9b1","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":600,"wires":[["44f60aea.aeedb4"]]},{"id":"9d83bda1.21fc","type":"change","z":"b2e96dac.1b9b1","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":640,"wires":[["44f60aea.aeedb4"]]},{"id":"44f60aea.aeedb4","type":"change","z":"b2e96dac.1b9b1","name":"Hold UP","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":620,"wires":[[]]},{"id":"3169f108.91134e","type":"mqtt in","z":"b2e96dac.1b9b1","name":"Kledingkast","topic":"zigbee2mqtt/Kledingkast","qos":"0","datatype":"json","broker":"4d2ff189.666908","nl":false,"rap":false,"x":110,"y":280,"wires":[["8358573c.329aa8"]]},{"id":"8358573c.329aa8","type":"function","z":"b2e96dac.1b9b1","name":"Save Value","func":"var state = msg.payload.state;\nvar brightness = msg.payload.brightness;\n\nflow.set(\"Kledingkast_brightness\", brightness);\nflow.set(\"Kledingkast_state\", state);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":280,"wires":[[]]},{"id":"9f1c1bb7.46ec78","type":"debug","z":"b2e96dac.1b9b1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1220,"y":560,"wires":[]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
