Node-RED/Schakelaar zolder
[{"id":"527c1cd8.33a654","type":"tab","label":"Schakelaar Zolder","disabled":false,"info":""},{"id":"78a22b84.a867e4","type":"mqtt in","z":"527c1cd8.33a654","name":"","topic":"zigbee2mqtt/Schakelaar Zolder/#","qos":"0","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":170,"y":100,"wires":[["9fc8e8c3.40e1f8"]]},{"id":"3898d111.1d199e","type":"switch","z":"527c1cd8.33a654","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":100,"wires":[["3074ef82.c8054"],["4642c4c2.ea2a7c"]]},{"id":"3074ef82.c8054","type":"function","z":"527c1cd8.33a654","name":"On","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 602, \"switchcmd\": \"Set Level\", \"level\": 10 }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":60,"wires":[["9b405a20.9a2328"]]},{"id":"4642c4c2.ea2a7c","type":"function","z":"527c1cd8.33a654","name":"Off","func":"msg.payload = `{\"command\": \"switchlight\", \"idx\": 602, \"switchcmd\": \"Off\" }`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":140,"wires":[["9b405a20.9a2328"]]},{"id":"9b405a20.9a2328","type":"mqtt out","z":"527c1cd8.33a654","name":"","topic":"domoticz/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":890,"y":100,"wires":[]},{"id":"9fc8e8c3.40e1f8","type":"json","z":"527c1cd8.33a654","name":"","property":"payload","action":"","pretty":false,"x":370,"y":100,"wires":[["3898d111.1d199e"]]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
