Node-RED/STARKVIND Node-RED Domoticz
[{"id":"1bec2846.4029b8","type":"tab","label":"Luchtververser","disabled":false,"info":""},{"id":"92af5d9e.d6b11","type":"mqtt in","z":"1bec2846.4029b8","name":"Domoticz Luchtververser","topic":"domoticz/out/541","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":150,"y":200,"wires":[["a6e7acbe.f6401"]]},{"id":"a6e7acbe.f6401","type":"json","z":"1bec2846.4029b8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":200,"wires":[["b6d70fc0.f6db5"]]},{"id":"cb50b45d.9a4e28","type":"mqtt out","z":"1bec2846.4029b8","name":"MQTT Lucht ververser","topic":"zigbee2mqtt/Luchtververser/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1060,"y":220,"wires":[]},{"id":"b6d70fc0.f6db5","type":"switch","z":"1bec2846.4029b8","name":"","property":"payload.svalue1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"50","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"70","vt":"str"},{"t":"eq","v":"80","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":530,"y":200,"wires":[["84ae7545.8ffa28"],["881d8691.c06168"],["19ce1141.d3d9ef"],["62faf9e6.ef52b8"],["5ff40353.feecbc"],["27c0f93.50b5306"],["76c5ca57.250ad4"],["dbddd75e.ec73d8"],["15badd72.2f72a3"],["b3344efa.f3137"],["a0d9040d.0eb0c8"]]},{"id":"881d8691.c06168","type":"function","z":"1bec2846.4029b8","name":"auto","func":"msg.payload = {\"fan_mode\": \"auto\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":60,"wires":[["cb50b45d.9a4e28"]]},{"id":"19ce1141.d3d9ef","type":"function","z":"1bec2846.4029b8","name":"1","func":"msg.payload = {\"fan_mode\": \"1\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":100,"wires":[["cb50b45d.9a4e28"]]},{"id":"62faf9e6.ef52b8","type":"function","z":"1bec2846.4029b8","name":"2","func":"msg.payload = {\"fan_mode\": \"2\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":140,"wires":[["cb50b45d.9a4e28"]]},{"id":"5ff40353.feecbc","type":"function","z":"1bec2846.4029b8","name":"3","func":"msg.payload = {\"fan_mode\": \"3\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":180,"wires":[["cb50b45d.9a4e28"]]},{"id":"27c0f93.50b5306","type":"function","z":"1bec2846.4029b8","name":"4","func":"msg.payload = {\"fan_mode\": \"4\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":220,"wires":[["cb50b45d.9a4e28"]]},{"id":"76c5ca57.250ad4","type":"function","z":"1bec2846.4029b8","name":"5","func":"msg.payload = {\"fan_mode\": \"5\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":260,"wires":[["cb50b45d.9a4e28"]]},{"id":"dbddd75e.ec73d8","type":"function","z":"1bec2846.4029b8","name":"6","func":"msg.payload = {\"fan_mode\": \"6\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":300,"wires":[["cb50b45d.9a4e28"]]},{"id":"15badd72.2f72a3","type":"function","z":"1bec2846.4029b8","name":"7","func":"msg.payload = {\"fan_mode\": \"7\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":340,"wires":[["cb50b45d.9a4e28"]]},{"id":"b3344efa.f3137","type":"function","z":"1bec2846.4029b8","name":"8","func":"msg.payload = {\"fan_mode\": \"8\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":380,"wires":[["cb50b45d.9a4e28"]]},{"id":"a0d9040d.0eb0c8","type":"function","z":"1bec2846.4029b8","name":"9","func":"msg.payload = {\"fan_mode\": \"9\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":420,"wires":[["cb50b45d.9a4e28"]]},{"id":"8381b23d.4aaae","type":"comment","z":"1bec2846.4029b8","name":"https://www.zigbee2mqtt.io/devices/E2007.html#ikea-e2007","info":"https://www.zigbee2mqtt.io/devices/E2007.html#ikea-e2007","x":250,"y":60,"wires":[]},{"id":"84ae7545.8ffa28","type":"function","z":"1bec2846.4029b8","name":"off","func":"msg.payload = {\"fan_mode\": \"off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":20,"wires":[["cb50b45d.9a4e28"]]},{"id":"60b97aff.bb1c44","type":"function","z":"1bec2846.4029b8","name":"","func":"var fan = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = fan;\nmsg.payload.idx = 541;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":660,"wires":[["fce3f2d2.8a2a3","dd302328.678d5"]]},{"id":"fce3f2d2.8a2a3","type":"mqtt out","z":"1bec2846.4029b8","name":"","topic":"domoticz/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":1130,"y":660,"wires":[]},{"id":"88e4601.78b52a","type":"switch","z":"1bec2846.4029b8","name":"","property":"payload.fan_mode","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"auto","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":450,"y":660,"wires":[["93ce04c9.c2eed8"],["74f79a22.81c194"],["4b517e1b.c2018"],["c6291ff3.599ef"],["b7b01075.d8be1"],["b6157f8f.627c5"],["30b07e62.f97242"],["891ef81f.ee5658"],["973b8c5d.93721"],["f87a7bcc.c586f8"],["f1f5ac1.ae1635"]]},{"id":"74f79a22.81c194","type":"function","z":"1bec2846.4029b8","name":"auto","func":"msg.payload = \"10\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":540,"wires":[["60b97aff.bb1c44"]]},{"id":"4b517e1b.c2018","type":"function","z":"1bec2846.4029b8","name":"1","func":"msg.payload = \"20\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":580,"wires":[["60b97aff.bb1c44"]]},{"id":"c6291ff3.599ef","type":"function","z":"1bec2846.4029b8","name":"2","func":"msg.payload = \"30\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":620,"wires":[["60b97aff.bb1c44"]]},{"id":"b7b01075.d8be1","type":"function","z":"1bec2846.4029b8","name":"3","func":"msg.payload = \"40\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":660,"wires":[["60b97aff.bb1c44"]]},{"id":"b6157f8f.627c5","type":"function","z":"1bec2846.4029b8","name":"4","func":"msg.payload = \"50\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":700,"wires":[["60b97aff.bb1c44"]]},{"id":"30b07e62.f97242","type":"function","z":"1bec2846.4029b8","name":"5","func":"msg.payload = \"60\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":740,"wires":[["60b97aff.bb1c44"]]},{"id":"891ef81f.ee5658","type":"function","z":"1bec2846.4029b8","name":"6","func":"msg.payload = \"70\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":780,"wires":[["60b97aff.bb1c44"]]},{"id":"973b8c5d.93721","type":"function","z":"1bec2846.4029b8","name":"7","func":"msg.payload = \"80\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":820,"wires":[["60b97aff.bb1c44"]]},{"id":"f87a7bcc.c586f8","type":"function","z":"1bec2846.4029b8","name":"8","func":"msg.payload = \"90\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":860,"wires":[["60b97aff.bb1c44"]]},{"id":"f1f5ac1.ae1635","type":"function","z":"1bec2846.4029b8","name":"9","func":"msg.payload = \"100\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":900,"wires":[["60b97aff.bb1c44"]]},{"id":"93ce04c9.c2eed8","type":"function","z":"1bec2846.4029b8","name":"off","func":"msg.payload = \"0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":500,"wires":[["60b97aff.bb1c44"]]},{"id":"1314a3fb.3b437c","type":"mqtt in","z":"1bec2846.4029b8","name":"MQTT Luchtververser","topic":"zigbee2mqtt/Luchtververser","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":140,"y":660,"wires":[["61b53324.261dac"]]},{"id":"dd302328.678d5","type":"debug","z":"1bec2846.4029b8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":780,"wires":[]},{"id":"61b53324.261dac","type":"json","z":"1bec2846.4029b8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":660,"wires":[["88e4601.78b52a"]]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
