Node-RED/Weeralarm
[{"id":"91c3c3ee.adca78","type":"tab","label":"Weeralarm","disabled":false,"info":""},{"id":"6c6dcd5fb912ade7","type":"http request","z":"91c3c3ee.adca78","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cdn.knmi.nl/knmi/xml/rss/rss_KNMIwaarschuwingen.xml","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":180,"wires":[["74b6e54b66b937f2"]]},{"id":"206e54fce96bfcf8","type":"inject","z":"91c3c3ee.adca78","name":"10 Minute tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["6c6dcd5fb912ade7"]]},{"id":"74b6e54b66b937f2","type":"xml","z":"91c3c3ee.adca78","name":"","property":"payload","attr":"","chr":"","x":550,"y":180,"wires":[["f1c7fef468771b6a"]]},{"id":"f1c7fef468771b6a","type":"function","z":"91c3c3ee.adca78","name":"Function","func":"var i;\nvar desc;\nvar mod_desc;\nvar al_txt;\nvar no_al_txt;\nfor (i = 0; i < msg.payload.rss.channel[0].item.length; i++) {\n    if (msg.payload.rss.channel[0].item[i].title[0] === \"Waarschuwingen Groningen\") {\n        desc = msg.payload.rss.channel[0].item[i].description[0];\n        mod_desc = desc.replace(/(<([^>]+)>)/ig, '.'); // Modified description without HTML tags. Tags replaced by . (dot)\n        no_al_txt = mod_desc.substring((mod_desc.indexOf(\".\") + 2), (mod_desc.indexOf(\".\", (mod_desc.indexOf(\".\") + 1)) + 1));\n        al_txt = mod_desc.substring((mod_desc.indexOf(\"..\") + 2), (mod_desc.indexOf(\"..\", (mod_desc.indexOf(\"..\") + 1)) + 1));\n    }\n}\nswitch (desc.substring(5,desc.indexOf(\".\"))) {\n    case \"Groen\":\n        msg.payload = { \"command\": \"udevice\", \"idx\": 414, \"nvalue\": 1, \"svalue\": no_al_txt };\n        break;\n\n   case \"Geel\" :\n        msg.payload = { \"command\": \"udevice\", \"idx\": 414, \"nvalue\": 2, \"svalue\": al_txt };\n        break;\n\n    case \"Oranje\":\n        msg.payload = { \"command\": \"udevice\", \"idx\": 414, \"nvalue\": 3, \"svalue\": al_txt };\n        break;\n\n    case \"Rood\":\n        msg.payload = { \"command\": \"udevice\", \"idx\": 414, \"nvalue\": 4, \"svalue\": al_txt };\n        break;\n\n    default:\n        msg.payload = { \"command\": \"udevice\", \"idx\": 395, \"nvalue\": 0, \"svalue\": \"No Data available\" };\n        break;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":180,"wires":[["5b307902260f6b0a"]]},{"id":"5b307902260f6b0a","type":"mqtt out","z":"91c3c3ee.adca78","name":"Domoticz In","topic":"domoticz/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d2ff189.666908","x":910,"y":180,"wires":[]},{"id":"cae751d6c4047878","type":"comment","z":"91c3c3ee.adca78","name":"Meteoalarm KNMI","info":"","x":590,"y":120,"wires":[]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
