Node-RED/WP Eigen
[{"id":"c98a6e84.07966","type":"tab","label":"WP eigen","disabled":false,"info":""},{"id":"737aa6fd.c0bbd8","type":"mqtt in","z":"c98a6e84.07966","name":"Domoticz Gemiddelde kamertemperatuur","topic":"domoticz/out/331","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":260,"y":100,"wires":[["efa43c36.46f7a"]]},{"id":"71f08f75.6a11f","type":"debug","z":"c98a6e84.07966","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"7859951c.91f32c","type":"link out","z":"c98a6e84.07966","name":"Kamertemperatuur","links":["014b79ca42e19493"],"x":975,"y":100,"wires":[]},{"id":"5b33a41e.cde5bc","type":"function","z":"c98a6e84.07966","name":"","func":"var temp = msg.payload.svalue1;\nreturn[{payload:temp}]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":100,"wires":[["71f08f75.6a11f","7859951c.91f32c"]]},{"id":"efa43c36.46f7a","type":"json","z":"c98a6e84.07966","name":"","property":"payload","action":"","pretty":false,"x":530,"y":100,"wires":[["5b33a41e.cde5bc"]]},{"id":"ddce2add.a6e758","type":"mqtt in","z":"c98a6e84.07966","name":"Gemiddelde buitentemperatuur","topic":"domoticz/out/640","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":230,"y":260,"wires":[["18373159.b16d5f"]]},{"id":"18373159.b16d5f","type":"json","z":"c98a6e84.07966","name":"","property":"payload","action":"","pretty":false,"x":530,"y":260,"wires":[["c3bbc5f1.c131a8"]]},{"id":"adf4c295.292b6","type":"debug","z":"c98a6e84.07966","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"c3bbc5f1.c131a8","type":"function","z":"c98a6e84.07966","name":"","func":"var temp = msg.payload.svalue1;\nreturn[{payload:temp}]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["adf4c295.292b6","b984f98c.54bdb8"]]},{"id":"b984f98c.54bdb8","type":"link out","z":"c98a6e84.07966","name":"","links":["219066f9a22a1c23"],"x":975,"y":260,"wires":[]},{"id":"ade9a826.da6908","type":"mqtt in","z":"c98a6e84.07966","name":"P1 verbruik/consumption","topic":"domoticz/out/35","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":210,"y":420,"wires":[["5f9b7a9b.9212b4"]]},{"id":"5f9b7a9b.9212b4","type":"json","z":"c98a6e84.07966","name":"","property":"payload","action":"","pretty":false,"x":530,"y":420,"wires":[["6c73bdb0.a11274"]]},{"id":"ebee5e33.4dfce","type":"debug","z":"c98a6e84.07966","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":480,"wires":[]},{"id":"6c73bdb0.a11274","type":"function","z":"c98a6e84.07966","name":"","func":"var temp = msg.payload.svalue5;\nreturn[{payload:temp}]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["ebee5e33.4dfce","6759bcb3.caeaa4"]]},{"id":"7e9393f.a80ed6c","type":"mqtt in","z":"c98a6e84.07966","name":"P1 production","topic":"domoticz/out/35","qos":"2","datatype":"auto","broker":"4d2ff189.666908","nl":false,"rap":false,"x":170,"y":580,"wires":[["61fb2926.5cbfa8"]]},{"id":"61fb2926.5cbfa8","type":"json","z":"c98a6e84.07966","name":"","property":"payload","action":"","pretty":false,"x":530,"y":580,"wires":[["fe59fa26.0aa6b8"]]},{"id":"8ca625d5.db6788","type":"debug","z":"c98a6e84.07966","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":640,"wires":[]},{"id":"fe59fa26.0aa6b8","type":"function","z":"c98a6e84.07966","name":"","func":"var temp = msg.payload.svalue6;\nreturn[{payload:temp}]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":580,"wires":[["8ca625d5.db6788","86302056.a84f"]]},{"id":"6759bcb3.caeaa4","type":"link out","z":"c98a6e84.07966","name":"","links":["c62d7cd04e6dcc42"],"x":975,"y":420,"wires":[]},{"id":"86302056.a84f","type":"link out","z":"c98a6e84.07966","name":"","links":["e7e4159b16d21595"],"x":975,"y":580,"wires":[]},{"id":"4d2ff189.666908","type":"mqtt-broker","name":"192.168.2.4","broker":"192.168.2.4","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
